<%= form_with(model: pet) do |form| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
        <% pet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Nombre' %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label 'Especie' %>
    <%= form.text_field :species %>
  </div>

  <div class="field">
    <%= form.label 'Raza' %>
    <%= form.text_field :race %>
  </div>

  <div class="field">
    <%= form.label 'Fecha de Nacimiento' %>
    <%= form.date_select :birth_date, start_year: 1990 %>
  </div>

    <div class="field">
      <%= form.label 'Cliente' %>
      <%= form.select :client_id, @clients %>
    </div>

  <div class="actions">
    <%= form.submit 'Guardar' %>
  </div>
<% end %>
