<p id="notice"><%= notice %></p>

<h3>Pacientes</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Especie</th>
      <th scope="col">Raza</th>
      <th scope="col">Visitas</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @pets.each do |pet| %>
    <tr>
      <th scope="row"><%= pet.name %></th>
      <td><%= pet.species %></td>
      <td><%= pet.race %></td>
      <td><%= pet.visits %></td>
      <td><%= link_to 'Ver detalle', pet %></td>
      <td><%= link_to 'Editar', edit_pet_path(pet) %></td>
      <td><%= link_to 'Eliminar', pet, method: :delete, data: { confirm: "¿Está seguro de eliminar a #{pet.name} del registro de Pacientes?" } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Registrar nuevo paciente', new_pet_path%>
