<p id="notice"><%= notice %></p>

<h3><strong><%= @pet.name  %></strong> - Historial Clínico</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Estado</th>
      <th scope="col">Diagnóstico</th>
      <th scope="col">Peso (kg)</th>
      <th scope="col">Altura (cm)</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @pethistories.each do |pethistory| %>
    <tr>
      <td><%= pethistory.date %></td>
      <td><%= pethistory.state %></td>
      <td><%= pethistory.diagnosis %></td>
      <td><%= pethistory.weight %></td>
      <td><%= pethistory.height %></td>
      <td><%= link_to 'Ver detalle', pethistory_path(pethistory) %></td>
      <td><%= link_to 'Editar', edit_pethistory_path(pethistory) %></td>
      <td><%= link_to 'Eliminar', pethistory_path(pethistory), method: :delete, data: { confirm: "¿Está seguro de eliminar el registro de esta visita?" } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<table>

<br>
<p>
  <%= link_to 'Agregar visita', new_pet_pethistory_path %>  |  <%= link_to 'Volver a Pacientes', pets_path %>
</p>